.el-dialog {
  border: 1px solid var(--accent-border);
  border-radius: 8px;
  background-color: var(--bg-dialog-color);

  &__title {
    color: var(--color-dialog-title);
    font-weight: 600;
    font-size: 20px;
  }

  &.is-fullscreen {
    border: none;
  }
}

.el-dialog__close {
  width: 20px;
  height: 20px;
  background-color: var(--bg-dialog-close-color);
  border-radius: 3px;
  color: #FFFFFF !important;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}