.el-notification {
  background-color: var(--bg-dialog-color);
  border: 1px solid var(--accent-border);
}

.el-notification__content, .el-notification__title{
  color: var(--text-color-regular);
}

.el-notification--success{
  fill: var(--text-color-regular) !important;
  color: var(--text-color-regular) !important;
}