@use "variables";
@use "sass:color";

.el-button {
  font-weight: 400;
}

.btn-primary, .el-message-box .el-button--primary {
  color: #fff;
  background-color: variables.$color-primary;
  border: 1px solid variables.$color-primary;
  transition: all 0.5s;
  font-family: 'PingFang SC', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-shadow: none;

  &.is-disabled {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #0D8484;
    border-color: transparent;
  }

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #0D8484 !important;
    border: 1px solid color.adjust(variables.$color-primary, $lightness: 8%);
    color: #fff;
  }
}

.el-button--small {
  font-size: 12px;
  border-radius: 4px;
}

.btn-default {
  background-color: #E6E6DA;
  border: none;
  color: #000;

  &.is-disabled {
    background-color: variables.$text-color-disable;

    &:hover {
      background-color: variables.$text-color-disable;
    }
  }
}

.btn-default-lighter {
  background-color: #EFF2EC;
  border: none;
  color: #000;

  &.is-disabled {
    background-color: variables.$text-color-disable;

    &:hover {
      background-color: variables.$text-color-disable;
    }
  }
}

.btn-icon {
  padding: unset;
  width: 40px;
  height: 40px;

  .icon {
    height: unset;
  }

  &.el-button--small {
    width: 28px;
    height: 28px;

    &.is-loading {
      span {
        display: none;
      }
    }
  }
}

.btn-border {
  border: 1px solid variables.$color-primary;
  border-radius: 4px;
}