.el-form-item__label {
  font-size: 20px;
  color: var(--text-color-regular);
}

.el-input__inner::placeholder {
  color: #A8ABB2;
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label-wrap > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  content: unset;
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label-wrap > .el-form-item__label:after, .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:after {
  color: var(--text-color-regular);
  content: "*";
  margin-left: 4px;
}

.el-input__wrapper, .el-textarea__inner {
  background-color: var(--input);
  transition: none;
  box-shadow: 0 0 0 1px var(--input-border-color) !important;

  &[disabled] {
    background-color: var(--input-disabled) !important;
  }
}

.el-input__inner, .el-textarea__inner {
  color: var(--color-input-text);
}

.el-input__count-inner, .el-input__count {
  background-color: transparent !important;
}

