@use '@/assets/css/particular/breakpoints';

.wrapper-mermaid, .wrapper-plantuml, .wrapper-bash, .uuid-block {
  .actions {
    text-align: right;
    margin-bottom: 16px;

    @include breakpoints.respond-max('md') {
      text-align: center;
    }
  }

  .copy, .zoom-in, .zoom-out, .zoom-reset {
    color: var(--text-copy-color);
    text-decoration: none;
    display: inline-block;
    background: var(--bg-copy);
    padding: 1px;
    font-size: 12px;
    border-radius: 8px;
    width: 70px;
    text-align: center;
    font-weight: normal;

    @include breakpoints.respond-max('md') {
      margin-top: 15px;
    }
  }

  .mermaid {
    text-align: center;

    text {
      fill: var(--bubble-text-color) !important;
    }

    line {
      stroke: var(--bubble-text-color) !important;
    }

    #arrowhead path {
      fill: var(--bubble-text-color) !important;
      stroke: var(--bubble-text-color) !important;
    }
  }
}

.wrapper-bash {
  margin-bottom: 20px !important;

  * {
    margin: 0 !important;
  }
}

.uuid-block .copy {
  position: relative;
  top: -10px;
}