@use '@/assets/css/particular/breakpoints';

@mixin bubble_body {
  font-size: 16px;
  line-height: 1.5;
  padding-right: 48px;
  padding-bottom: 0;
  overflow-wrap: break-word;
  color: var(--bubble-text-color);

  @include breakpoints.respond-max('md') {
    padding-right: 0;
    margin-left: -52px;
  }

  ul, ol {
    padding: 0 0 0 20px;
  }

  > * {
    margin: 8px 0;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  h5 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}