.monaco-editor {
  .cursor {
    background-color: var(--text-color-regular) !important;
  }

  .monaco-editor-background, div.overflow-guard > div.margin {
    background-color: var(--bg) !important;
  }

  .line-numbers, .mtk1 {
    color: var(--text-color-regular) !important;
  }
}

.theme-dark {
  .mtk20 {
    color: var(--color-primary-ligter) !important;
  }

  .mtk5, .mtk7 {
    color: var(--text-color-regular) !important;
  }

  .monaco-editor .selected-text {
    background-color: rgba(13, 132, 132, 0.3) !important;
  }

  .monaco-editor .selectionHighlight {
    background-color: rgba(13, 132, 132, 0.3) !important;
  }

  .monaco-editor .findMatch {
    background-color: rgba(13, 132, 132, 0.2) !important;
  }

  .monaco-editor .currentFindMatch {
    background-color: rgba(13, 132, 132, 0.3) !important;
  }

  .monaco-editor .wordHighlight {
    background-color: rgba(13, 132, 132, 0.08) !important;
  }

  .monaco-editor .wordHighlightStrong {
    background-color: rgba(13, 132, 132, 0.12) !important;
  }

  .monaco-editor .range-highlight {
    background-color: rgba(13, 132, 132, 0.05) !important;
  }

  .monaco-editor .bracket-match {
    background-color: rgba(13, 132, 132, 0.3) !important;
  }
}

.decorationsOverviewRuler {
  display: none !important;
}