.monaco-editor {
  .cursor {
    background-color: var(--text-color-regular) !important;
  }
  .monaco-editor-background, div.overflow-guard > div.margin {
    background-color: var(--bg) !important;
  }

  .line-numbers, .mtk1 {
    color: var(--text-color-regular) !important;
  }
}