.el-popper.default {
  border-color: var(--border-color-popover) !important;
  background: var(--bg-sidebar) !important;
  color: var(--text-color-regular);
}

.el-popover__title {
  color: var(--text-color-regular);
}