.el-radio-button.is-active .el-radio-button__original-radio:not(:disabled)+.el-radio-button__inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: -1px 0 0 0 var(--color-primary);
}

.el-radio-button__inner:hover{
  color: var(--color-primary);
}

.el-radio-button__inner{
  color: var(--text-color-regular) !important;
  background-color: var(--radio-bg-color);
  border-color: var(--radio-border-color) !important;
  border-left: none;
  font-weight: 400;
}

.is-active .el-radio-button__inner {
  border-color: var(--color-primary) !important;
  color: #ffffff !important;
}

.is-focus .el-radio-button__inner {
  color: #ffffff !important;
}