// React Flow styles (migrated from Vue Flow)
.react-flow__node-default {
  border: none !important;
  padding: 0;
  border-radius: 8px;
}

.react-flow__node-default.selected {
  box-shadow: none !important;
}

.react-flow {
  overflow: visible !important;
}

.react-flow__controls {
  margin-top: -50px;
}

.react-flow__controls-button {
  background-color: var(--react-flow-button-color);
  border-color: var(--react-flow-button-color);
  width: 20px;
  height: 20px;
  outline: none;

  &:hover {
    background-color: var(--bg-btn-default-hover);;
  }

  .theme-dark & svg {
    fill: var(--text-color-regular);
    color: var(--text-color-regular);
  }

  svg {
    width: 18px;
    height: 18px;
    max-width: 18px;
    max-height: 18px;
  }
}