$color-primary: #148751;
$color-primary-darken: #0D8484;
$text-color-regular: #606266;
$text-color-primary: #303133;
$text-color-secondary: #909399;
$text-color-disable: #C0C4CC;
$green-primary-dark: #2e8861;;