@mixin dark-theme {
  --color-primary: #0D8484;
  --color-primary-ligter: #109f9f;
  --text-color-regular: #9F9F9F;
  --text-copy-color: #1D1C2C;
  --text-color-primary: #303133;
  --text-color-secondary: #909399;
  --bg-btn-disable: #27273C;
  --bg-copy: #C0C4CC;
  --green-primary-dark: #2e8861;
  --border-color-darken: #27273C;
  --bg-sidebar: #110F1B;
  --bg-sidebar-canvas: #110F1B;
  --accent-border: #1E1E2E;
  --sidebar-border: #1E1E2E;
  --text-header-lighter: #C0C0C0;
  --text-header: #C0C0C0;
  --bg: #110F1B;
  --input: #222337;
  --input-border-color: #27273C;
  --bubble-notification-bg-color: #1D1C2C;
  --bubble-text-color: #B1B1B2;
  --bubble-box-shadow-color: rgba(19, 19, 33, 0.6);
  --bubble-border-color: transparent;
  --bubble-question-bg-color: #151925;
  --bubble-question-text-color: #B1B1B2;
  --bubble-question-title-color: #B1B1B2;
  --bg-btn-default: #27273C;
  --bg-btn-default-hover: rgba(39, 39, 60, 0.5);
  --bg-btn-default-lighter: #27273C;
  --bg-btn-default-lighter-hover: rgba(39, 39, 60, 0.5);
  --color-icon-submit: #EAE8E8;
  --bg-popup: #1D1C2C;
  --bg-attachment: #110F1B;
  --border-attachment-file: #110F1B;
  --bg-button: #27273C;
  --bg-button-hover: rgba(39, 39, 60, 0.5);
  --bg-active-menu: #222337;
  --border-color-active-menu: #222337;
  --border-color-popover: #110F1B;
  --border-color-default-button: #27273C;
  --bg-button-create-new: #C0C0C0;
  --color-settings-text: #B1B1B2;
  --color-input-text: #9F9F9F;
  --text-login-main-color: #EAE8E8;
  --bg-dialog-close-color: #9F9F9F;
  --color-primary-darken: #0A6A6A;
  --bg-new-chat: #11101C;
  --color-title: #0D8484;
  --color-sub-title: #C0C0C0;
  --color-white-examples: #EAE8E8;
  --bg-new-chat-button: #1D1C2C;
  --bg-new-chat-button-hover: #403e61;
  --bg-new-chat-button-readonly: #27273C;
  --color-primary-dark-active: #434367;
  --input-border: #2F2F44;
  --btn-bordered-border-color: #EAE8E8;
  --btn-bordered-border-color-hover: rgba(255, 255, 255, 0.5);
  --btn-bordered-text-color: #EAE8E8;
  --input-disabled: #27273C;
  --bg-dialog-color: #110F1B;
  --color-dialog-title: #B1B1B2;
  --version-app-background: #222337;
  --message-bg-color: #242b40;
}

.only-theme-dark {
  display: none;
}

@mixin applyForOnlyThemeDark {
  .only-theme-dark {
    display: unset;
  }
}

@mixin scollbar {
  ::-webkit-scrollbar-track {
    background: #2D2D40;
  }

  ::-webkit-scrollbar-thumb {
    background: #161422;
  }

  * {
    scrollbar-color: #161422 #2D2D40;
  }
}

:root {
  .theme-dark {
    @include dark-theme;
    @include scollbar;
    @include applyForOnlyThemeDark;
  }
}

