$color-primary: #0D8484;
$text-color-regular: #606266;
$text-color-primary: #303133;
$text-color-secondary: #909399;
$text-color-disable: #C0C4CC;
$green-primary-dark: #2e8861;
$border-color-darken: #CDD0D6;
$bg-sidebar: #F4F4F4;
$accent-border: #B4D9D9;
$text-header: #0A6363;
